@font-face {
  font-family: Zekton;
  src: url("./zekton_rg.ttf");
}

body {
  /* background-color: black!important; */
  background-image: url("https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg") !important;
  font-family: "Zekton" !important;
  animation: breath 60s linear infinite;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}


@keyframes breath {
  0% {
    background-size: 100% auto;
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}
