body {
    background-color: black!important;
    font-family: 'Press Start 2P', cursive;
    background-image: url('https://thumbs.gfycat.com/PeacefulGiantEidolonhelvum-size_restricted.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}