div.footer {
  /* margin-top: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* position: fixed; */
  bottom: 0px !important;
  /* padding-bottom: 10px; */
  margin-bottom: 0px !important;
}

.footer h1 {
  margin-left: 15px;
  /* margin-top: 10px; */
  padding: 10px 10px !important;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  /* font-family: "Press Start 2P", cursive; */
  font-family: "Zekton";
}

.footer img {
  height: 70px;
  width: auto;
  /* width: 50px; */
  border-radius: 50%;
  margin: auto !important;
}

@media screen and (max-width: 500px) {
  .footer .row h1 {
    font-size: 0.9rem;
  }
}
