body {
  background-image: url("https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  padding: 0;
  margin: 0;
}
html{
  height: auto;
}


/* .social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: 5px;
  font-size: 0;
  text-align: center;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 70px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle !important;
} */


.button {
  width: 250px;
  margin-left: 41%;
  display: inline;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}

.button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
}
.button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.button--social-login .icon:before {
  display: inline-block;
  width: 40px;
}
.button--social-login .icon:after {
  content: "";
}

.button--googleplus {
  background-color: #DD4B39;
  border: 1px solid #c23321;
}
.button--googleplus .icon {
  border-right: 1px solid #c23321;
}
.button--googleplus .icon:after {
  border-right: 1px solid #e47365;
}
.button--googleplus:hover {
  background-color: #d73925;
}


.button--github {
  background-color: #333;
  border: 1px solid #1a1a1a;
}
.button--github .icon {
  border-right: 1px solid #1a1a1a;
}
.button--github .icon:after {
  border-right: 1px solid #4d4d4d;
}
.button--github:hover {
  background-color: #262626;
} 
h1.ml11 {
  font-family: Zekton !important;
}

div.container {
  margin-top: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

div.container svg {
  margin: 20px auto;
}

div.container .ml11 {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 1.5em;
}

div.container .ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  /* padding-top: 0.1em; */
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

div.container .ml11 .line {
  opacity: 0;
  position: inherit;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

div.container .ml11 .line1 {
  top: 0;
  left: 0;
}

div.container .ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.profile-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.profile-container span {
  margin-left: 10px;
  font-size: 1rem;
  line-height: 70px;
}

.profile-container .profile {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

a {
  text-decoration: none;
}

svg.desktop {
  width: 50vw;
}

svg.mobile {
  width: 80vw;
}

@media screen and (max-width: 500px) {
  svg.desktop {
    display: none;
  }
  svg.mobile {
    display: block;
    width: 80%;
    height: 200px;
  }
  .profile-container span {
    font-size: 0.9rem;
    line-height: 50px;
  }
  .profile-container .profile {
    height: 50px;
    width: 50px;
  }
  div.container .ml11 {
    font-size: 0.85em;
  }
  .nes-pointer {
    margin-left: 20px;
  }
}

@media screen and (min-width: 501px) {
  svg.desktop {
    display: block;
  }
  svg.mobile {
    display: none;
  }
}

.row {
  /* width: 100%;
  position: absolute;
  top: 68%; */
  color: white;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  /* margin-left: 40%; */
}
a.social-button{
  margin-right:16px !important;
}
.rows{
  display: inline-block;
}
.row .social-button {
  margin: 20px auto;
}


#breathing-button {
  width: 180px;
  padding: 12px;
  margin: 50px auto;
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  font-size: 16px;
  color: seashell;
  -webkit-font-smoothing: antialiased;
  border-radius: 2px;
  text-align: center;
  width: 70%;
  border: 2px solid red;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* i.fa.fa-google::before{
  display: none;
}
i.fa.fa-github::before{
  display: none;
} */