

body, html {
    /* background-color: black; */
    color: white;
    margin: 0;
}
body{
    background-image: url("https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg") !important;
    min-height: 100vh !important;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border: 1px solid transparent !important; 
}
.options-container{
    margin-left: 30px;
    margin-right: 30px;
}
@font-face {
    font-family: Zekton;
    src: url("../static/zekton_rg.ttf");
  }
 
  * {
    font-family: 'Zekton', cursive;
}
/* ul.options li {
    list-style: none;
    margin: auto;
    font-size: 20px !important;
    text-align: center;
    font-weight: bold;
    color: white;
    
} */
/* Float four columns side by side */
.column {
    float: left;
    width: 33.3%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  /* .row {margin: 0 -5px;} */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
li.opt{
    list-style: none;
    margin: auto;
    font-size: 20px !important;
    text-align: center;
    font-weight: bold;
    color: white; 
    padding: 15px 15px;
    /* height: 80px; */
    /* width: 350px; */
    background: rgba(1,1,1,0.6) !important;
}
li.opt:hover{
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    border: 2px solid #5FD85F;
    cursor: default;
}
/* li{
    font-size: 50px !important;
    color: white;
} */

/* ul.options li:hover {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

ul.options {
    height: 70px;
    display: inline-block;
    width: 100%;
    justify-content: center;
    padding: 20px;
    background-color: black;
} */

.question {
    font-size: 0.8rem;
    /* padding: 30px; */
    /* margin-top: 50px; */
    line-height: 2rem;
}

html, body {
    height: 100%;
    /* overflow: hidden; */
}

#main {
    position: relative;
}

/* #main:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
} */

hr.upperline {
    position: absolute;
    bottom: 55px;
    height: 5px;
    border: none;
    background-color: #5FD85F;
    width: 33%;
    
}

@media screen and (max-width: 500px) {
    .question {
        font-size: 0.7rem;
        line-height: 1.1rem;
    }
    ul.options li {
        font-size: 0.5rem;
    }
}

/* img {
    display: flex;
    height: 250px;
    margin: auto;
    border-radius: 10px;
  } */

/*  ///////////////////////////////////// */

.thumb {
    position: relative;
    display: block;
    width: 500px;
    max-width: 100%;
    margin: auto;
    -webkit-perspective: 700px;
    perspective: 700px;
    overflow: hidden;
}

.thumb::after, .thumb::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    background: linear-gradient(20deg, rgba(0, 10, 17, 0.3) 10%, rgba(255, 250, 247, 0.2) 90%);
    opacity: 0;
    z-index: 100;
    -webkit-transition: opacity 1.6s;
    transition: opacity 1.6s;
}

.thumb::before {
    background: #000;
    opacity: 0;
    z-index: -1;
}

/* .thumb:hover::after {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.thumb:hover::before {
    opacity: 0.3;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
} */

.thumb img {
    position: relative;
    display: block;
    max-width: 100%;
    z-index: -2;
    max-height: 300px;
}

.thumb svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.thumb path {
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

p#question-text.question{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: bolder !important;
    /* filter:brightness(200%); */
}


