
  body{
    height: 100%;
    font-weight: 100%;
    color: white;
    font-family: "Zekton", cursive;
  }
  body {
    position: relative;
   }   
  /* .fw-headine h1{
    font-size:52px;
    font-weight: 300
  } */
  
  @media (max-width: 767px) {
   /* .fw-headine h1 {
      font-size:40px;
      font-weight: 300
    } */
  
    html.fw-noscroll,
    html.fw-noscroll body{
      overflow-y: hidden !important;
    }
  
    html.fw-noscroll .navbar-default{
      border:none;
      overflow-y: scroll !important;
    }
  }
  
  /*Burger-Menu Animation*/
  .navbar-toggle {
    overflow: hidden;
    background-color: transparent;
  }
  .navbar-toggle .icon-bar {
    -webkit-transition: opacity, -webkit-transform;
    transition: opacity, -webkit-transform;
    transition: opacity, transform;
    transition: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
            transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
  }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
  
  }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
  }
  /*END Burger-Menu Animation*/
  
  /*Menu Styles*/
  .navbar-default{
    border-color: rgba(214,214,214,0.4);
    background-color: rgba(255,255,255,0.95);
    min-height: 52px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border:none
  }
  
  .navbar-header{
    height: 52px;
  }
  
  .navbar-toggle {
      padding: 11px 10px;
  }
  
  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
      border: none;
      background-color: transparent;
  }
  
  .navbar-nav>li>a {
      padding-top: 8px;
      padding-bottom: 0px;
      line-height: 44px;
      font-size: 13px;
      font-weight: 700;
      color:#4C5C67 !important
  }
  
  .navbar-nav>li>a:hover {
      color: #51BECC !important
  }
  
  .navbar-brand {
      padding: 0px 11px;
      height: auto;
      font-size: 28px;
      font-weight: 300;
      line-height: 52px;
      color:#333 !important
  }
  
  .navbar-brand img {
    display:block; 
    float:left;
    height:52px; 
    padding: 12px 0 12px 0; 
  }
  
  .navbar-brand span {
    display:block; 
    float:left;
    height:52px; 
    padding: 0 0 0 10px;  
  }
  
  .navbar-toggle {
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
  }
  
  .navbar-toggle .icon-bar {
    background-color:#333 !important;
    height: 1px;
    border-radius: 0px;
  }
  
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  .navbar-default .navbar-nav > .open > a, 
  .navbar-default .navbar-nav > .open > a:hover, 
  .navbar-default .navbar-nav > .open > a:focus{
    background-color: transparent;
  }
  
  .dropdown-menu > li > a {
    font-size: 10px
  }
  
  .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #51BECC !important
  }
  
  @media (max-width: 767px) {
    .navbar-default{
      min-height: 48px;
    }
  
    .navbar-header{
      height: 48px;
    }
    .navbar-brand {
      font-size: 20px;
      margin-left: 15px;
      padding: 0px;
      line-height: 48px;
    }
  
    .navbar-brand img {
      display:block; 
      float:left;
      height:48px; 
      padding: 11px 0 11px 0; 
    }
  
    .navbar-brand span {
      display:block; 
      float:left;
      height:48px; 
      padding: 0 0 0 6px;  
    }
    .navbar-toggle {
      padding-top: 12px;
      padding-right: 0px;
      padding-bottom: 11px;
      padding-left: 10px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  
    .navbar-collapse {
      height: 0;
      max-height: none !important;
    }
  
    .navbar-collapse .navbar-nav {
      opacity: 0;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.35s;
         -o-transition-duration: 0.35s;
            transition-duration: 0.35s;
    -webkit-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
    }
  
    .navbar-collapse.in .navbar-nav{
      opacity: 1;
    }
  
    .navbar-collapse.in {
      height: calc(100vh - 48px);
    }
  
    .navbar-nav {
      min-height: calc(100vh - 48px);
      padding-left: 48px;
      padding-right: 48px;
      margin-top: 0;
      margin-bottom: 0
    }
  
    .navbar-nav>li>a {
      padding:0;
      line-height: 48px;
      font-size: 15px;
      font-weight:400;
      color:#333 !important
    }
  
    .navbar-nav>li:first-child a{
      padding-top: 17px;
    }
  
    .navbar-nav>li:not(:first-child) a{
      border-top: 1px solid rgba(214,214,214,0.5);
      line-height: 47px;
    }
  
    .navbar-nav>li:last-child a{
      padding-bottom:28px;
    }
  
    .navbar-default .navbar-nav > .open > a, 
    .navbar-default .navbar-nav > .open > a:hover, 
    .navbar-default .navbar-nav > .open > a:focus{
      border-top: 1px solid rgba(214,214,214,0.5);
    }
  
    .dropdown-menu>li>a{
      border-top: none !important;
      font-size: 14px !important;
      color:#333 !important
    }
  
    .dropdown-menu>li:last-child a {
      padding-bottom: 24px !important
    }
  }
  