body {
  background: #eee;
  font-family: 'Press Start 2P';
}

.profile-loading {
  display: flex;
  max-width: 500px;
  background: transparent;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 60px;
  padding: 40px 20px;
}
.profile-loading .clock-anim {
  padding-bottom: 20px;
}

h4 {
  font-size: 18px;
  color: grey;
}

p {
  color: #8C9093;
}

.profile-loading__texts {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}