.page-content {
    position: relative;
    background: #fafafa;
     width: 100%;
  padding:15px 0px;
}

svg
{
  padding:10px;
  background-color:white;
      box-shadow: 0 0 25px rgba(40,47,60,.05), 0 20px 25px rgba(40,47,60,.05), 0 3px 4px rgba(40,47,60,.05);
  border-radius:5px;
}

.container{
    width:80%;
    }



#l5
{
    cursor: pointer;
    animation: swing ease-in-out 1.5s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#leaf2
{
  cursor: pointer;
    animation: swing ease-in-out 1.7s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#l3
{
  cursor: pointer;
    animation: swingreverse ease-in-out 1.7s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#l4
{
  cursor: pointer;
    animation: swingreverse ease-in-out 1.6s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#leaf1
{
  cursor: pointer;
    animation: swingreverse ease-in-out 1.9s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#l1
{
  cursor: pointer;
    animation: swingreverse ease-in-out 1.5s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#facemain
{
    cursor: pointer;
    animation: girlface ease-in-out 1.8s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


#book
{
  cursor: pointer;
    animation: book ease-in-out 2.5s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


#dogt
{
  cursor: pointer;
    animation: swingreverse ease-in-out 0.9s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

#oldhand
{
    cursor: pointer;
    animation: oldhand ease-in-out 1.5s infinite alternate;
    transform-origin: 34px bottom;
    transform-box: fill-box;
}

#oldface12
{
  cursor: pointer;
    animation: oldhand ease-in-out 1.3s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}


@keyframes girlface
{
  0% {transform: rotate(2deg);}
  100% { transform: rotate(-3deg); }
}

@keyframes oldhand {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}


@keyframes swingreverse {
    0% { transform: rotate(-6deg); }
    100% { transform: rotate(6deg); }
}


@keyframes book {
    0% { transform: rotate(-4deg); }
    100% { transform: rotate(4deg); }
}


svg #Home {
  stroke:#37233c;
  stroke-width:1px;
  fill:#fd1b0b;
}


#Vector_62, #Vector_61, #Vector_60, #Vector_59, #Vector_63, #Vector_64{
  transform-box:fill-box;
  transform-origin:center;
}