/* body {
    padding: 0;
    margin: 0;
} */

a {
  text-decoration: none;
}

.navbar {
    z-index: 1;
}

.et-hero-tabs,
.et-slide {
  font-family: "Press Start 2P";
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 90vh;
  position: relative;
  color: white;
  text-align: center;

}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 1rem;
  margin: 0;
  letter-spacing: 0.3rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 0.65rem;
  letter-spacing: 0.13rem;
  opacity: 0.6;
  margin: 0px 15px 0px 15px;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-family: "Press Start 2P";
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.et-hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66B1F1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 1rem;
  }
  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
    margin: 0px 25px 0px 25px;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
