body {
  background-color: black;
  color: white;
  font-family: "Roboto", "sans-serif";
  height: 100%;
}

.question {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  position: absolute;
    right: 5%;
    bottom: 5%;
    display: inline;
}

@media screen and (max-width: 500px) {
  div.container {
  transform: translate(-90%, -50%);
}
  .question {
  font-size: 0.9rem;
  padding-bottom: 10px;
}
  
  div.timer {
  font-size: 1rem;
}
}

input,
div.container span,
label,
textarea {
  margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 22px;
  color: white;
}

textarea:focus,
input:focus {
    outline: 0;
}


/* Question */

input.question,
textarea.question {
    font-size: 48px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 80%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
}

@media screen and (max-width: 500px) {
  input.question,
textarea.question {
  font-size: 30px; 
  }
}


/* Underline and Placeholder */

input.question+label,
textarea.question+label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid wheat;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
}

input.question:focus+label,
textarea.question:focus+label {
    width: 80%;
}

input.question:focus,
input.question:valid {
    padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
    margin-top: 35px;
}

input.question:focus+label>span,
input.question:valid+label>span {
    top: -100px;
    font-size: 22px;
    color: #333;
}

textarea.question:focus+label>span,
textarea.question:valid+label>span {
    top: -150px;
    font-size: 22px;
    color: #333;
}

input.question:valid+label,
textarea.question:valid+label {
    border-color: aquamarine;
}

input.question:invalid,
textarea.question:invalid {
    box-shadow: none;
}

input.question+label>span,
textarea.question+label>span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 48px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

@media screen and (max-width: 500px) {
  input.question+label>span,
textarea.question+label>span {
  font-size: 30px; 
  }
}

input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
  color: black;
  font-family: "Roboto", "sans-serif";
}

input[type="submit"]:hover {
    background: #EEE;
}

input[type="submit"]:active {
    background: #999;
}

input.question:valid~input[type="submit"],
textarea.question:valid~input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

input.question:invalid~input[type="submit"],
textarea.question:invalid~input[type="submit"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

div.timer span {
    display: inline;
}
