@font-face {
  font-family: Zekton;
  src: url("../static/zekton_rg.ttf");
}
body {
  background-color: black;
  color: white;
  font-family: 'Zekton', cursive;
  height: 100vh !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label{
  font-size: 20px;
}
.containers{
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
div.container {
  width: 70% !important;
  /* height: auto; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

div.footer{
  display: none !important;
}
div.timer {
  font-family: 'Zekton', cursive;
  font-size: 2.7rem;
  position: absolute;
    right: 5%;
    bottom: 5% !important;
}
span#hours.hours,span#minutes.minutes,span#seconds.seconds{
  background: rgba(1,1,1,0.7);
  padding: 10px 10px;
  border-radius: 20px;
}

.nes-btn {
  width: 200px;
  background-color: #A9EAA9;

}
form#ans{
  margin-top: 180px !important;
}

label#question-text{
  font-weight: bolder !important;
}

.nes-container{
  background: rgba(1,1,1,1) !important;
}

.containss{
  min-height: 100px !important;
}
@media screen and (max-width: 500px) {
  .question {
    font-weight: bolder !important;
  font-size: 0.9rem;
  padding-bottom: 10px;
}
form#ans{
  margin-top: 150px !important;
}
/* label#question-text{
  margin-top: 300px !important;
  font-weight: bolder !important;
} */
.nes-container{

  margin-top: 0px !important;
}
/* 
div.containers{
  margin-top: 0px !important;
} */
  div.timer {
  font-size: 1.7rem;
  bottom: 20px !important;
}
  .nes-field label {
    font-size: 1rem;
  }
}