body {
  background-color: black;
  color: white;
  font-family: 'Gill Sans', cursive;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
label{
  font-size: 20px;
}
.containers{
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
div.container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

div.timer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  position: absolute;
    right: 5%;
    bottom: 30%;
}

.nes-btn {
  width: 200px;
  background-color: #A9EAA9;

}


@media screen and (max-width: 500px) {
  .question {
  font-size: 0.9rem;
  padding-bottom: 10px;
}
.containers{
  margin-top: 50px;
}
  div.timer {
  font-size: 1rem;
}
  .nes-field label {
    font-size: 1rem;
  }
}