{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MinderSnatch</title>
	<!-- <link href="{% static 'timer.css' %}" rel="stylesheet"> -->
	<link href="{% static 'navbar.css' %}" rel="stylesheet">
	<link href="{% static 'footer.css' %}" rel="stylesheet">
	<link href="{% static 'background.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/nes.css@latest/css/nes.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.css">
    {% block stylesheet %}
		{% endblock %}
</head>

<body class="bodypad">
	{% include "components/navbar.html" %}
	{% include "components/background.html" %}
	{% block content %}
	{% endblock %}
	<br>
    {% include "components/footer.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js"></script>
	<!-- <script src="{% static 'timer.js' %}"></script>  -->
	<script src="{% static 'navbar.js' %}"></script> 
    {% block js %} {% endblock %}
</body>

</html>