{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="ml11">
		<span class="text-wrapper">
    <span class="line line1"></span>
		<span class="letters" style="color: crimson;size: 50px;">GAME OVER!</span>
        </span>
        <br><br>
    </h1>
    <span class="nes-pointer" style="text-decoration: none; color: white !important;text-align: center;margin-bottom: 30px;">MESSAGE-</span>
    <span class="nes-pointer" style="text-decoration: none; color: white !important;text-align: center;">{{message}}</span>
	<div class="profile-container">
		<span class="nes-pointer"><a href="{% url 'situation' %}" style="text-decoration: none; color:#006bb3; !important;">PLAY AGAIN!</a></span>
	</div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'index.js' %}"></script>
{% endblock %}