<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    .links line {
      stroke: #222;
      stroke-opacity: 0.8;
    }

    .nodes circle {
      stroke: #fff;
      /* stroke-width: 5px; */
    }

    .img {
      height: auto;
      width: auto;
      z-index: 100;
    }

    .node-img {
      border-radius: 50%;
    }

    .svg {
      position: absolute;
    }

    .visited {
      stroke: red !important;
    }
  </style>

</head>

<body>
  <!-- <svg width="800" height="800" class="svg"></svg> -->

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>

    const getGraphData = async () => {
      const response = await fetch("/adj");
      const { visited, graph } = await response.json();
      console.log("visited: ", visited);
      console.log("graph: ", graph)

      const graphData = {
        nodes: [],
        links: []
      }

      for (node in graph) {
        // console.log("node: ", node, typeof node);

        graphData.nodes.push({ name: node }); // Eg: { name: "1" }

        // console.log(list, ': ', graph[list])

        graph[node].forEach(neighbor => {
          graphData.links.push({ source: node, target: neighbor });
        });
      }
      // console.log('reached here')
      // console.log(graphData);

      return { graph: graphData, visited };
    }

    const constructGraph = async () => {
      const { graph, visited } = await getGraphData();

      const startingNode = parseInt(visited[0]);

      console.log("Inside Construct Graph");
      console.log("graph: ", graph, "visited:", visited);
      // const visited = [];
      // let graph = {
      //   nodes: [
      //     { name: 0 },
      //     { name: 1 },
      //     { name: 2 },
      //     { name: 3 },
      //     { name: 4 },
      //     { name: 5 },
      //     { name: 6 },
      //   ],
      //   links: [
      //     { source: 0, target: 1 },
      //     { source: 0, target: 3 },
      //     { source: 1, target: 2 },
      //     { source: 2, target: 3 },
      //     { source: 2, target: 5 },
      //     { source: 4, target: 5 },
      //     { source: 4, target: 6 },
      //     { source: 5, target: 6 },
      //   ],
      // };

      var svg = d3.select("svg");
      const height = 800;
      const width = 800;

      const unvisitedImgURL = "https://media.istockphoto.com/vectors/question-mark-icon-flat-vector-illustration-design-vector-id1162198273?k=6&m=1162198273&s=612x612&w=0&h=3V-VGVRpaD77MFXao1_ZjoTXI8E2KjOJLYOlbv1DDIs=";
      const visitedImageURL = "https://previews.123rf.com/images/tawhy/tawhy1801/tawhy180100231/92778095-treasure-chest-with-magnifying-glass-isolated-on-white-background.jpg"
      const startImageURL = "https://cdn3.vectorstock.com/i/thumb-large/03/12/start-flag-in-retro-design-vector-17070312.jpg";

      var svg = d3
        .select("body")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

      // // var json = getData();


      var simulation = d3
        .forceSimulation(graph.nodes)
        .force("charge", d3.forceManyBody().strength(-1000))
        .force("center", d3.forceCenter(width / 2, height / 2))
        .force(
          "link",
          d3.forceLink(graph.links).id((d) => d.name)
        )
        .on("tick", ticked);

      var link = svg
        .append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter()
        .append("line")
        .attr("stroke-width", function (d) {
          return 5;
        })
        .attr("edge", (d) => `${d.source.name} ${d.target.name}`) // storing the information of the node
        .attr("class", "edge");

      var node = svg
        .append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(graph.nodes)
        .enter()
        .append("image")
        .attr("xlink:href", () => unvisitedImgURL)
        .attr("x", -8)
        .attr("y", -8)
        .attr("width", 40)
        .attr("height", 40)
        // .append("circle")
        // .attr("r", 8) // Set the radius of the node
        // .attr("fill", (d) => "orange") // default color of the nodes
        .attr("situation", (d) => d.name)
        .attr("class", "node-img");

      // var node = svg
      //   .append("g")
      //   .attr("class", "nodes")
      //   .selectAll("circle")
      //   .data(graph.nodes)
      //   .enter()
      //   .append("img")
      //   .attr("src", imgURL)
      //   .attr("r", 8) // Set the radius of the node
      //   .attr("fill", (d) => "orange") // default color of the nodes
      //   .attr("situation", (d) => d.name);

      const drag = d3
        .drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended);

      node.call(drag);

      function ticked() {
        link
          .attr("x1", (d) => d.source.x)
          .attr("y1", (d) => d.source.y)
          .attr("x2", (d) => d.target.x)
          .attr("y2", (d) => d.target.y);

        // node.attr("cx", (d) => d.x).attr("cy", (d) => d.y);

        node.attr("transform", function (d) {
          return "translate(" + d.x + "," + d.y + ")";
        });
      }

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }

      const nodes = document.getElementsByClassName("node-img");
      const edges = document.getElementsByClassName("edge");

      console.log("nodes", nodes)

      for (let i = 0; i < nodes.length; i++) {
        nodes[i].addEventListener("mouseover", () => {
          console.log(nodes[i].getAttribute("situation"))
        })
      }

      visited.forEach((situation, index) => {
        situation = parseInt(situation);
        console.log(situation);
        nodes[situation - 1].setAttribute("href", visitedImageURL);
      });

      // For Starting Node
      nodes[startingNode - 1].setAttribute("href", startImageURL);


      for (let i = 0; i < visited.length - 1; i++) {
        let currentEdge = `${visited[i]} ${visited[i + 1]}`;
        console.log(currentEdge);
        for (let j = 0; j < edges.length; j++) {
          if (edges[j].getAttribute("edge") === currentEdge) {
            console.log("match found");
            edges[j].classList.add("visited");
          }
        }
      }
    }

    constructGraph();


    function getData() {
      const x = {
        nodes: [
          { name: 0 },
          { name: 1 },
          { name: 2 },
          { name: 3 },
          { name: 4 },
          { name: 5 },
          { name: 6 },
        ],
        links: [
          { source: 0, target: 1 },
          { source: 0, target: 3 },
          { source: 1, target: 2 },
          { source: 2, target: 3 },
          { source: 2, target: 5 },
          { source: 4, target: 5 },
          { source: 4, target: 6 },
          { source: 5, target: 6 },
        ],
      };
      console.log(x)
      return x;
    }
  </script>
</body>

</html>