{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<link rel="stylesheet" href="{% static 'a.css' %}">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>

<div class="container">
	{% include "components/svg.desktop.html" %}
	{% include "components/svg.mobile.html" %}
	{% if frozen == True %}
		<p style="width: 70%;margin: auto;text-align: center;border: 2px solid red;color: seashell;"  id="breathing-button">The Event has ended ,The Leaderboard has been frozen <br>However you can still explore the game:)</p>
	{% endif %}
	<h1 class="ml11">
		<span class="text-wrapper">
			<span class="line line1"></span>
			<span class="letters">Find Your own ending!</span>
		</span>
	</h1>
	{% if user.name %}
	<div class="profile-container">
		<img class="nes-avatar profile" src="{{ user.image }}" style="image-rendering: pixelated;">
		<span class="nes-pointer"><a href="{% url 'situation' %}"
				style="text-decoration: none; color: white !important;">Start the game !</a></span>
	</div>
	{% else %}
	<div class="row">
		<a type="button" href="{% url 'social:begin' 'facebook' %}" class="social-button nes-btn dark" data-inline="true"><i
				class="nes-icon github is-small"></i> Login with Github</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a type="button" href="{% url 'social:begin' 'google-oauth2' %}" class="social-button nes-btn is-error" data-inline="true"><i
				class="nes-icon google is-small"></i> Login with Google</a>
	</div>
	<!-- <div class="row">
		<div class="social-btns">

			<a type="button" class="btn google" href="{% url 'social:begin' 'google-oauth2' %}">
			  <i class="fa fa-google" />
			</button>
		  </div>
		  <div class="social-btns">
			  
				  <a type="button" class="btn github" href="#">
					  <i class="fa fa-github" />
					</button>
				
			</div>

	</div> -->
	
      
	<br>
	
	{% endif %}
</div>

{% endblock %}

{% block js %}
<script src="{% static 'index.js' %}"></script>
{% endblock %}