{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="static/leaderboard.css">
{% endblock %}
{% block content %}
<div class="container">
  <h1>Leader Board</h1>
  <ul>
    <li><span>1.</span> <img src="https://lh3.googleusercontent.com/a-/AOh14GhY68NjJZEAe6eyD3DzPEZZ2wXOoJ9tnicHNmyCWQ" alt=""> <span>Lorem, ipsum.</span></li>
    <li><span>2.</span><img src="https://lh3.googleusercontent.com/a-/AOh14GhY68NjJZEAe6eyD3DzPEZZ2wXOoJ9tnicHNmyCWQ" alt=""> <span>Lorem, ipsum.</span></li>
    <li><span>1.</span><img src="https://lh3.googleusercontent.com/a-/AOh14GhY68NjJZEAe6eyD3DzPEZZ2wXOoJ9tnicHNmyCWQ" alt=""> <span>Lorem, ipsum.</span></li>
    <li><span>3.</span><img src="https://lh3.googleusercontent.com/a-/AOh14GhY68NjJZEAe6eyD3DzPEZZ2wXOoJ9tnicHNmyCWQ" alt=""> <span>Lorem, ipsum.</span></li>
    <li><span>4.</span><img src="https://lh3.googleusercontent.com/a-/AOh14GhY68NjJZEAe6eyD3DzPEZZ2wXOoJ9tnicHNmyCWQ" alt=""> <span>Lorem, ipsum.</span></li>
  </ul>
</div>
{% endblock %}

{% block js %}
<script src="static/leaderboard.js"></script>
{% endblock %}