{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'leaderboard.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <h1>Leader Board</h1>
  <ul>
    {% for player in players %}
    <li><span>{{ forloop.counter }}</span> <img src="{{ player.image }}" alt=""> <span class="name">{{ player.name }}</span><span>{{ player.score }}</span></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'leaderboard.js' %}"></script>
{% endblock %}