{% extends "base.html" %}

{% block content %}
<div>
    {{ sitn.text }}
    <form method="POST" action="/level">
        {% csrf_token %}
        <p>{{ sitn.option_1.text }}</p>
        <button value="{{ sitn.option_1.id }}" type="submit" name="op_no">{{sitn.option_1.text}}</button>
        <p>{{ sitn.option_2.text }}</p>
        <button value="{{ sitn.option_2.id }}" type="submit" name="op_no">{{sitn.option_1.text}}</button>
        <p>{{ sitn.option_3.text }}</p>
        <button value="{{ sitn.option_3.id }}" type="submit" name="op_no">{{sitn.option_1.text}}</button>
    </form>
</div>
{% endblock %}