{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Situation - Mindersmatch</title>
	<!-- <link rel="stylesheet" href="https://unpkg.com/nes.css@latest/css/nes.min.css"> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gill+Sans&amp;display=sans-serif" />
	<link rel="stylesheet" href="{% static 'level.css' %}">
	<link rel="stylesheet" href="{% static 'a.css' %}">
	<link href="{% static 'navbar.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<style>
	
	@media screen and (max-width: 500px){
		
		.navbar-icon {
			display: block;
			color: white;
			position: absolute;
			margin-top: 0px !important;
			right: 8% !important;
			border-radius: 50%;
			height: 4rem;
			width: 4rem;
			background-position: center;
			transition: background 0.8s;
		  }
		  i.fa.fa-toggle-on::before{
			margin-top: 0px !important;
		}
		div.navbar-icon.nes-pointer{
			margin: 0px 0px !important;
		}
	}
	
	
	label#question-text{
		font-weight: bold;
	}
	div.navbar{
		padding: 0px 0px !important;
		width: 100% !important;
	  }
	  ul.navbar-list{
		width: 100% !important;
	  }
</style>
<body>
	<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>

	{% include "components/navbar.html" %}
	<!-- <div id="main"></div> -->
	<form method="POST" id="form-main" action="{% url 'situation' %}">
		{% csrf_token %}
		<input id="mainForm" type="text" value="hello" name="op_no" hidden>
		<!-- <input type="submit" value="Submit" hidden> -->
	</form>
	<br><br><br><br>
	<div class="container">
		<div class="jumbotron" style="background: rgba(1,1,1,0.4);color: white">
			<p class="question" id="question-text" style="opacity: 1; text-align: center;"> {{sitn.text}}</p>
		<p class="name" hidden>{{user.name}}</p>
		<a class="thumb" href="#" data-thumb>
			<img src="{{ sitn.image.url }}" class="thumb__image" alt="">
		</a>
		</div>
	</div>
	<!-- <br><br><br><br><br> -->
	
	<!-- <ul class="options"> -->
		<!-- <div class="row">
		{% for option in options %}
			{% if forloop.counter|divisibleby:2 %}
			<div class="col">
				<li class="opt" data-id="{{ option.id }}">
					<h1 style="color: red;">{{forloop.counter}}</h1>
					{{ option.text }}
				</li>
			</div>
			{% else %}
			<div class="w-100"></div>
			<div class="col">
			<li class="opt" data-id="{{ option.id }}">
				<h1 style="color: red;">{{forloop.counter}}</h1>
				{{ option.text }}
			</li>
			</div>
			{% endif %}
			
		{% endfor %} -->


		<!-- <div class="container">
			<div class="card-columns">
				{% for option in options %}
					<li class="opt" data-id="{{ option.id }}">
						{{ option.text }}
					</li>&nbsp;
				{% endfor %}
				</div>
		</div> -->
		<div class="container">
			<div class="row">
				{% for option in options %}
				<div class="column">
					<li class="opt" data-id="{{ option.id }}">
						{{ option.text }}
					</li>&nbsp;
				</div>
				{% endfor %}
			</div>
		</div>


		<!-- <br><br><br><br> -->
	<!-- </ul> -->
	<!-- <ul class="options">
		{% if sitn.option_1 %}
		<li class="nes-pointer" data-id="{{ sitn.option_1.id }}">
			{{ sitn.option_1.text }}
		</li>
		{% endif %}
		{% if sitn.option_2 %}
		<li class="nes-pointer" data-id="{{ sitn.option_2.id }}">
			{{ sitn.option_2.text }}
		</li>
		{% endif %}
		{% if sitn.option_3 %}
		<li class="nes-pointer" data-id="{{ sitn.option_3.id }}">
			{{ sitn.option_3.text }}
		</li>
		{% endif %}
	</ul> -->
	<!-- <hr class="upperline" /> -->
	
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
<script src="https://bathlamos.github.io/delaunay-triangulation/js/delaunay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js"></script>
<script src="{% static 'level.js' %}"></script>
<script src="{% static 'navbar.js' %}"></script>
<script>
	history.pushState(null, null, document.URL);
	window.addEventListener('popstate', function () {
		history.pushState(null, null, document.URL);
	});
	var name=document.getElementsByClassName("name")[0].innerText;
	var word= document.getElementsByClassName("question")[0].innerText.replace('{user}',name);
	document.getElementsByClassName("question")[0].innerText=word;

	const url = document.location.origin;

	if (localStorage.getItem('beenhere') === document.getElementById("question-text").innerText) {
		localStorage.setItem('beenhere','');
		window.location = url;
	}
	else
	{
	localStorage.setItem('beenhere', document.getElementById("question-text").innerText);
	}
</script>

</html>