{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Situation - Mindersmatch</title>
	<link rel="stylesheet" href="https://unpkg.com/nes.css@latest/css/nes.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap" />
	<link rel="stylesheet" href="{% static 'level.css' %}">
	<link href="{% static 'navbar.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.css">
</head>

<body>
	{% include "components/navbar.html" %}
	<div id="main"></div>
	<form method="POST" id="form-main" action="{% url 'situation' %}">
		{% csrf_token %}
		<input id="mainForm" type="text" value="hello" name="op_no" hidden>
		<!-- <input type="submit" value="Submit" hidden> -->
	</form>
	<p class="question" id="question-text"> {{sitn.text}} </p>
	<p class="name" hidden>{{user.name}}</p>
	<a class="thumb" href="#" data-thumb>
		<img src="{{ sitn.image.url }}" class="thumb__image" alt="">
	</a>
	<ul class="options">
		{% if sitn.option_1 %}
		<li class="nes-pointer" data-id="{{ sitn.option_1.id }}">
			{{ sitn.option_1.text }}
		</li>
		{% endif %}
		{% if sitn.option_2 %}
		<li class="nes-pointer" data-id="{{ sitn.option_2.id }}">
			{{ sitn.option_2.text }}
		</li>
		{% endif %}
		{% if sitn.option_3 %}
		<li class="nes-pointer" data-id="{{ sitn.option_3.id }}">
			{{ sitn.option_3.text }}
		</li>
		{% endif %}
	</ul>
	<hr class="upperline" />
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
<script src="https://bathlamos.github.io/delaunay-triangulation/js/delaunay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.0/dialog-polyfill.min.js"></script>
<script src="{% static 'level.js' %}"></script>
<script src="{% static 'navbar.js' %}"></script>
<script>
	history.pushState(null, null, document.URL);
	window.addEventListener('popstate', function () {
		history.pushState(null, null, document.URL);
	});
	var name=document.getElementsByClassName("name")[0].innerText;
	var word= document.getElementsByClassName("question")[0].innerText.replace('{user}',name);
	document.getElementsByClassName("question")[0].innerText=word;

	const url = document.location.origin;

	if (localStorage.getItem('beenhere') === document.getElementById("question-text").innerText) {
		localStorage.setItem('beenhere','');
		window.location = url;
	}
	else
	{
	localStorage.setItem('beenhere', document.getElementById("question-text").innerText);
	}
</script>

</html>