{% extends "base.html" %}

{% block stylesheet %}
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link rel="stylesheet" href="static/rules.css">
{% endblock %}

{% block content %}
	  <section class="et-hero-tabs">
		<h1>RULES</h1>
		<h3>Some ground rules how you can save all of us</h3>
		<div class="et-hero-tabs-container">
		  <a class="et-hero-tab" href="#tab-es6">Rule 1</a>
		  <a class="et-hero-tab" href="#tab-flexbox">Rule 2</a>
		  <a class="et-hero-tab" href="#tab-react">Rule 3</a>
		  <a class="et-hero-tab" href="#tab-angular">Rule 4</a>
		  <a class="et-hero-tab" href="#tab-other">Rule 5</a>
		  <span class="et-hero-tab-slider"></span>
		</div>
	  </section>
	
	  <main class="et-main">
		<section class="et-slide" id="tab-es6">
		  <h1>Rule 1</h1>
		  <h3><p>something about Rule 1</p></h3>
		</section>
		<section class="et-slide" id="tab-flexbox">
		  <h1>Rule 2</h1>
		  <h3>something about Rule 2</h3>
		</section>
		<section class="et-slide" id="tab-react">
		  <h1>Rule 3</h1>
		  <h3>something about it</h3>
		</section>
		<section class="et-slide" id="tab-angular">
		  <h1>Rule 4</h1>
		  <h3>something about it</h3>
		</section>
		<section class="et-slide" id="tab-other">
		  <h1>Rule 5</h1>
		  <h3>something about it</h3>
		</section>
	  </main>
{% endblock %}

{% block js %}
<script src="static/rules.js"></script>
{% endblock %}
