{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nes.css/2.3.0/css/nes.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap">
<link rel="stylesheet" href="{% static 'subjective.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
{% include "components/navbar.html" %}
<small id="timepassed" hidden>{{ timepassed }}</small>
<div class="timer">
    <span class="hours" id="hours">00</span> : <span class="minutes" id="minutes">00</span> : <span class="seconds"
        id="seconds">00</span>
</div>

<div class="container">
    {% if status %}
    <div class="nes-container is-dark with-title" id="error">
        <p class="title" style="color: red;">Game's Message:</p>
        <p style="color: red;">You gave the wrong answer!!</p>
    </div>
    <script>
        localStorage.setItem('unsolved', 1);
    </script>
    {% endif %}
    <form id="ans" method="post" action="{% url 'situation' %}">
        {% csrf_token %}
        <div class="nes-field">
            <label for="name_field" id="question-text">{{ sitn.text }}</label>
            <input name="ans" type="text" id="name_field" class="nes-input">
        </div>
        <button type="submit" class="nes-btn is-primary">Submit!</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var hoursLabel = document.getElementById("hours");
    var totalSeconds = parseInt(document.getElementById("timepassed").innerText);
    setInterval(setTime, 1000);

    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60) % 60);
        hoursLabel.innerHTML = pad(parseInt(totalSeconds / 3600));
    }

    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }

    $(".timer").hover(function () {
        anime({
            targets: ".timer",
            translateY: ["-100%", "50%"],
            duration: 1000,
            delay: 200
        })
    })

    var fade_out = function () {
        $("#error").fadeOut().empty();
    }

    setTimeout(fade_out, 2500);

    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function () {
        history.pushState(null, null, document.URL);
    });
    var name = document.getElementsByClassName("name")[0].innerText;
    var word = document.getElementsByClassName("question")[0].innerText.replace('{user}', name);
    document.getElementsByClassName("question")[0].innerText = word;

    const url = document.location.origin;
    if (localStorage.getItem('unsolved') != 1) {
        if (localStorage.getItem('beenhere') === document.getElementById("question-text").innerText) {
            localStorage.setItem('beenhere', '');
            localStorage.setItem('unsolved', 1);
            window.location = url;
        }
        else {
            localStorage.setItem('beenhere', document.getElementById("question-text").innerText);
            localStorage.setItem('unsolved', 0);
        }
    }
    else {
        localStorage.setItem('beenhere', document.getElementById("question-text").innerText);
        localStorage.setItem('unsolved', 0);
    }
</script>
{% endblock %}