{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="static/subjective.css" />
{% endblock %}

{% block content %}
<form>
		<input type="text" name="name" class="question" id="nme" required autocomplete="off" />
		<label for="nme"><span>What's your name?</span></label>
		<textarea name="message" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
		<label for="msg"><span>What's your message?</span></label>
		<button type="submit" class="submit">SUBMIT</button>
</form>
{% endblock %}
