{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="static/subjective.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nes.css/2.3.0/css/nes.min.css">
{% endblock %}

{% block content %}
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<small id="timepassed" hidden>{{ timepassed }}</small>
<div class="timer">
    <span class="hours" id="hours">00</span> : <span class="minutes" id="minutes">00</span> : <span class="seconds"
        id="seconds">00</span>
</div>

<div class="container">
    <form id="ans" method="post" action="{% url 'situation' %}">
        {% csrf_token %}
        <div class="nes-field">
            <label for="name_field">{{ sitn.text }}</label>
            <input name="ans" type="text" id="name_field" class="nes-input">
        </div>
        <button type="submit" class="nes-btn is-primary">Submit!</button>
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var hoursLabel = document.getElementById("hours");
    var totalSeconds = parseInt(document.getElementById("timepassed").innerText);
    console.log(totalSeconds);
    setInterval(setTime, 1000);

    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60) % 60);
        hoursLabel.innerHTML = pad(parseInt(totalSeconds / 3600));
    }

    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }

    $(".timer").hover(function () {
        anime({
            targets: ".timer",
            translateY: ["-100%", "50%"],
            duration: 1000,
            delay: 200
        })
    })
</script>
{% endblock %}