{% extends "base.html" %} 

{% block stylesheet %}
<link rel="stylesheet" href="static/subjective.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap">
{% endblock %}

{% block content %}
<p id="timer" hidden>{{ timepassed }}</p>
<p class="timer">
    <span id="hours">00</span> : <span id="minutes">00</span> : <span id="seconds">00</span>
    <!-- 20 : 30 : 05  -->
</p>
<div class="container">
  <p class="question">{{ sitn.text }}</p>
  <form id="ans" method="post" action="{% url 'situation' %}">
  {% csrf_token %}
  <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
		<label for="nme"><span>Enter your answer</span></label>
		<input type="submit" value="SUBMIT" />
    </form>
</div>
{% endblock %}

{% block js %}
<script>
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var hoursLabel = document.getElementById("hours");
    var totalSeconds = parseInt(document.getElementById("timer").innerText);
    setInterval(setTime, 1000);

    function setTime() {
        ++totalSeconds;
        secondsLabel.innerHTML = pad(totalSeconds % 60);
        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60) % 60);
        hoursLabel.innerHTML = pad(parseInt(totalSeconds / 3600));
    }

    function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
            return "0" + valString;
        } else {
            return valString;
        }
    }
</script>
{% endblock %}