{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- <div id="countdown">
  <div id='tiles'></div>
  <div class="labels">
    <li>Days</li>
    <li>Hours</li>
    <li>Mins</li>
    <li>Secs</li>
  </div>
</div>

<span id="timer" hidden>{{ time }}</span> -->

<div class='wrap' ng-app='app'>
  <div class='time-to'>
    The world might end in...
    <span countdown='' date='{{ time }}'>&nbsp;</span>
  </div>
</div>


{% endblock %}

{% block js %}
<!-- <script>
  var target_date = parseInt(document.getElementById("timer").innerText) * 1000;
  var days, hours, minutes, seconds;

  var countdown = document.getElementById("tiles");

  getCountdown();

  setInterval(function () { getCountdown(); }, 1000);

  function getCountdown() {
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;

    days = pad(parseInt(seconds_left / 86400));
    seconds_left = seconds_left % 86400;

    hours = pad(parseInt(seconds_left / 3600));
    seconds_left = seconds_left % 3600;

    minutes = pad(parseInt(seconds_left / 60));
    seconds = pad(parseInt(seconds_left % 60));

    // format countdown string + set tag value
    countdown.innerHTML = "<span>" + days + "</span><span>" + hours + "</span><span>" + minutes + "</span><span>" + seconds + "</span>";
  }

  function pad(n) {
    return (n < 10 ? '0' : '') + n;
  }
</script> -->
<script>
(function () {
  angular.module('app', []).directive('countdown', [
  'Util',
  '$interval',
  function (Util,
  $interval) {
    return {
      restrict: 'A',
      scope: {
        date: '@' },

      link: function (scope,
      element) {
        var future;
        future = new Date(scope.date);
        $interval(function () {
          var diff;
          diff = Math.floor((future.getTime() - new Date().getTime()) / 1000);
          return element.text(Util.dhms(diff));
        },
        1000);
      } };

  }]).
  factory('Util', [
  function () {
    return {
      dhms: function (t) {
        var days,
        hours,
        minutes,
        seconds;
        days = Math.floor(t / 86400);
        t -= days * 86400;
        hours = Math.floor(t / 3600) % 24;
        t -= hours * 3600;
        minutes = Math.floor(t / 60) % 60;
        t -= minutes * 60;
        seconds = t % 60;
        return [days + 'd',
        hours + 'h',
        minutes + 'm',
        seconds + 's'].join(' ');
      } };

  }]);


}).call(this);
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'timer.css' %}">
<link rel="stylesheet" href="static/index.css">
{% endblock %}
