<div class="navbar">
  <div class="navbar-icon nes-pointer">
    <i class="snes-jp-logo"></i>
  </div>
    <ul class="navbar-list">
      <li>
        <a href="{% url 'index' %}" class="active">HOME</a>
      </li>
      <li>
        <a href="{% url 'rules' %}">RULE</a>
      </li>
      <li><a href="{% url 'leaderboard' %}">LEADERBOARD</a></li>
      {%if request.user.is_authenticated%}
      <li class="logout_button">
        <a href="/logout">LOGOUT</a>
      </li>
      {%endif%}
    </ul>
    
  </div>
